/* custom CSS goes here */

body{
    background-image: url('../Assets/Images/image2.jpg');  
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color:  rgb(129, 140, 143);
    color: rgb(253, 243, 155);
}

#maindiv{
    padding:0.2px;
    background-color: rgb(253, 243, 155);
    border-radius: 1em;
    margin-top: 1em;
    
}

div#maindiv > ul{
    list-style-type: none;
    
}

#maindiv> ul> li{
    display: inline;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    padding: 16.5px;
}

a{
    text-decoration:none;
    color: black;
}

.active{
    background-color: rgb(129, 140, 143);
}

#maindiv>ul>li:hover{
    background-color:rgb(236, 217, 104) ;
}

#contactDiv{
    margin-left: 2em;
}

#contactDiv> h2{
    text-align: center;
}

.align-center{
    text-align: center;
    color: rgb(236, 217, 104);
}

.imagediv{
    border-radius: 6em;
    border-style: solid;
}